body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /*added below*/
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.title {
  text-align: center;
  
}

.gameName {
  width: 100%;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;

  font-size: x-large;
  font-weight: bolder;
}

.result {
  padding-bottom: 3vh;
  background-color: lightgray;
  transition: background-color .5s ease;

}


.chessGrid {
  
  width: 50vw;
  height: 50vh;
  justify-self: center;
  
  display: grid;
  
  
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  min-height: fit-content;

  font-size: xx-large;
  /* padding: 20px; */
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.rowBoxes {
  align-content: center;
  text-align: center;
}

/* .result {
  transition-delay: 500ms;
  background-color: white;
  transition-property: background-color;
} */

.clearButton {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  /* display: inline-flex; */
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  justify-self: center;
  margin: 5vh;
}

.clearButton:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

@media (max-width: 400px) {
  .cushion{
    display: flex;
    justify-content: center;
  }
  .chessGrid {
    width: 80vw;
    height: 50vh;
    justify-self: center;
    
    display: grid;
    
    
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr; */
    min-height: fit-content;
  
    font-size: xx-large;
    /* padding: 20px; */
   }
   
 }